.typing-container {
  margin: 0;
  margin-left: 5px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fira Mono';
  color: #e1ecf4;
}
.img-fluid{
  background-color: #18bc9c;
  border-radius: 50%;
  height: auto;
}
.typing {
  animation: type 8s steps(36) infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #e1ecf4;
}

@keyframes type {
  0% {
      width: 0;
  }
  20% {
      width: 0;
  }
  80% {
      width: 36ch;
  }
  100% {
      width: 36ch;
  }
}

@keyframes blink {
  50% {
      border-color: transparent;
  }
}